@model IEnumerable<DynamicFilter.Models.Type>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Function</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Function
        </th>
        <th>
            FunctionEN
        </th>
        <th>
            Enable
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NameEN)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Enable)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.TypeID }) |
        @Html.ActionLink("Details", "Details", new { id = item.TypeID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.TypeID })
    </td>
</tr>
}

</table>
