@model DynamicFilter.Models.Filter

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Filter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Application
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            Function
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type.Name)
        </dd>
        <dt>
            State
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State.Name)
        </dd>

        <dt>
            Update Date
        </dt>

        <dd>
            @{
                var update = Model.UpdateOn;
                string updateOn= update.ToString();
                if (update <= DateTime.Parse("1900-01-01 00:00:00.000"))
                {
                    update = null;
                    @Html.DisplayFor(model => update)

                }
                else
                {
                    DateTime fechanueva = DateTime.Parse(updateOn);
                    string fechanueva2=fechanueva.ToShortDateString();
                    @Html.DisplayFor(model => fechanueva2)
                }
            }

        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail)
        </dd>

        <dt>
            Create Date
        </dt>
        <dd>
            @{
                var Fecha = Model.CreatedOn.ToShortDateString();
            }
            @Html.DisplayFor(model => Fecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FilterID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
