@model IEnumerable<DynamicFilter.Models.Filter>

    <script src="~/Scripts/moment.js"></script>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tickets</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div>
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Ticket</th>
                <th>Application</th>
                <th>Function</th>
                <th>FunctionEN</th>
                <th>State</th>
                <th>Update Date</th>
                <th>Title</th>
                <th>Description</th>
                <th>Description2</th>
                <th>Solution</th>
                <th>Detail2</th>
                <th>CreatedBy</th>
                <th>Creation Date</th>
                <th>Edit</th>
                <th hidden="hidden">Delete</th>
                <th>Detail</th>
            </tr>
        </thead>
    </table>
</div>


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            //var table = $('#example').DataTable();
            //table.destroy();
            //$.fn.dataTable.moment('M/D/YYYY');
            $('#example').DataTable({
                "processing": true,
                "serverSide": false,
                "ajax": {
                    "url": "@Url.Action("Get","Filters")",
                    "type": "POST"
                },
                "order": [[1, "desc"]],
                "columns": [
                    { "data": "FilterID" },
                    { "data": "Category.Name" },
                    { "data": "Type.Name" },
                    {
                        "data": "Type.NameEN",
                        "visible": false
                        },
                    { "data": "State.Name" },
                    {
                        "data": "UpdateOn",
                        "render": function (data) {
                            var fecha;
                            fecha = moment(data).format("MM/DD/YYYY");
                            if (fecha == "12/31/1899" || data==null) {
                                fecha = "";
                            }
                            return fecha;

                        }
                    },
                    { "data": "Place" },
                    {
                        "data": "Description",

                        "render": function (data, type, row) {
                            if (data != null) {
                                if (data.length > 21) {
                                    data = data.substr(0, 21) + '…';
                                }
                            }
                            return data;
                        }
                    },
                    {
                        "data": "Description",
                        "visible": false
                    },
                    {
                        "data": "Detail",
                        "render": function (data, type, row) {
                            if (data != null) {
                                if (data.length > 21) {
                                    data = data.substr(0, 21) + '…';
                                }
                            }
                            return data;
                        }
                    },
                    {
                        "data": "Detail",
                        "visible": false
                    },
                    { "data": "User.UserName" },
                    {
                        "data": "CreatedOn",
                        "render": function (data) {
                            var fecha;
                            fecha = moment(data).format("MM/DD/YYYY");
                            return fecha;

                        }
                    },
                    { "data": "FilterID" ,
                        "render": function (data, type, row) {
                            var estado = row.State.Name;
                            var url;
                            if (estado != "Cerrado") {
                                url = '@Html.ActionLink("Edit", "Edit", new { id= 1})';
                            }
                            else {
                              url = '@Html.ActionLink(" ", "", new { id= 1})';
                            }
                            return url.replace('1',data);
                        }},
                    {
                        "data": "FilterID",
                        "visible": false,
                        "render": function (data) {
                            var url = '@Html.ActionLink("Delete", "Delete", new { id=1 })';
                            return url.replace('1', data);
                        }
                    },
                    {
                        "data": "FilterID",
                        "render": function (data) {
                        var url = '@Html.ActionLink("Details", "Details", new { id=1 })';
                        return url.replace('1',data);
                        }
                    },
                ],
                columnDefs: [
                    @*{
                        targets: 13,
                        visible: false,
                        render: function (data, type, row) {
                        var url = '@Html.ActionLink("Delete", "Delete", new { id=1 })';
                        return url.replace('1',data);
                        }
                    },*@
                    @*{
                    targets: 10,
                        render: function (data, type, row) {
                            var url;
                                url = '@Html.ActionLink("Edit", "Edit", new { id=1 })';
                            return url.replace('1',data);
                        }
                    },*@
                    //{
                    //    targets: 9,
                    //    visible:false
                    //},
                    //{
                    //targets: 7,
                    //    render: function (data, type, row) {

                    //    if (data!=null) {
                    //        if (data.length > 20) {
                    //            data=data.substr(0, 20) + '…';
                    //        }
                    //    }
                    //        return data;
                    //    }

                    //},
                    //{
                    //targets: 5,
                    //    render: function (data, type, row) {

                    //        if (data!=null) {
                    //            if (data.length > 21) {
                    //            data=data.substr(0, 21) + '…';
                    //        }
                    //        }

                    //        return data;
                    //    }
                    //},
                    //{
                    //    targets: 7,
                    //    visible: false
                    //},
                    //{
                    //    targets: 11,
                    //    render: function (data) {
                    //        data = data.format('DD-MM-YYYY | HH:mm');
                    //        alert(data);
                    //        format: 'M/D/YYYY';
                    //        return data;
                    //    }
                    //},
                 ]
            });
            });
    </script>
}